<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	
	<insert id="signup" parameterType="com.acorn.blog.users.dto.UsersDto">
		INSERT INTO tp_account
		VALUES(tp_account_seq.NEXTVAL, #{id}, #{pwd}, #{name}, #{gender}, #{phone}, #{email}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="isValid" parameterType="com.acorn.blog.users.dto.UsersDto" 
			resultType="com.acorn.blog.users.dto.UsersDto">
		SELECT id,pwd
		FROM users
		WHERE id=#{id} AND pwd=#{pwd}
	</select>
	
</mapper>

